<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Proggy</title>
    <meta name="description" content="Proggy helps you build the app or bot of your dreams">
    <link id="favicon" rel="icon" href="https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13/favicon.ico" type="image/x-icon">
    <link id="apple-touch-icon" rel="apple-touch-icon" sizes="180x180" href="https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13/apple-touch-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cloud.webtype.com/css/3a8e55c6-b1f3-4659-99eb-125ae72bd084.css">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>/styles.css">

  </head>
  <body> 
    <script>
      var route = <%- JSON.stringify(route) %>;
      var baseUrl = <%- JSON.stringify(baseUrl) %>;
      var APP_URL = <%- JSON.stringify(APP_URL) %>;
      var API_URL = <%- JSON.stringify(API_URL) %>;
      var EDITOR_URL = <%- JSON.stringify(EDITOR_URL) %>;
      var CDN_URL = <%- JSON.stringify(CDN_URL) %>;
      var GITHUB_CLIENT_ID = <%- JSON.stringify(GITHUB_CLIENT_ID) %>;
      var FACEBOOK_CLIENT_ID = <%- JSON.stringify(FACEBOOK_CLIENT_ID) %>;
    </script>

    <noscript>
      <h1>
        To use this app, please enable JavaScript
      </h1>
    </noscript>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="<%= baseUrl %>/<%= clientJs %>"></script>
  </body>
</html>
